<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">
          <div class="navbar">
            <img class="logo" src={{ url_for('static', filename = "transit-live-logo-removebg-preview.png") }} alt="transitlive logo">
            <!-- <a href="about">About</a> -->
            <!-- <a href="contact">Contact</a> -->
            <!-- <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> -->
          </div>
        </a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>About Us</h1>
    <p>Our team's general information.</p>
    <h2>Our Team</h2>
    <ul>
      <li>Sai:   ***-***-****</li>
      <li>***:   ***-***-****</li>
      <li>***:   ***-***-****</li>
      <li>Rocky: ***-***-****</li>
    </ul>
    <h2>Our Project</h2>
    <ul>
      <p>Our project is to provide the convenient service of Translink on-time checking system.</p>
    </ul>
    <h2>Reference</h2>
    <ul>
      <p>Google Maps API</p>
      <p>***************</p>
    </ul>
  </main>

  <footer>
    <p>Copyright © 2023 NwLMAO</p>
  </footer>
</body>
</html>
